# Ignore Go binaries and build artifacts
bin/
dist/
*.exe
*.out

# Ignore dependency directories
vendor/

# Ignore Air configuration file
.air.toml

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore Docker-related files
.env

# Ignore log files and databases
*.log
*.sqlite
*.db

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore mount DB folder
.dbdata